
/* Page */

body {
  font: 16px/22px "STIX Two Text", Palatino, Georgia, Garamond, "Big Caslon", "Times New Roman", serif;
/*  background-color: rgb(33,19,11); */
  background: black url("/img/field.jpg") no-repeat fixed top left; 
  background-size: cover; 
}

a[href] {
	color: rgb(204,216,133);
}

blockquote {
  background-color: rgb(37,31,35);
}

blockquote p {
  font-style: italic !important;
}

/* Articles */

.micropost {
  background-color: rgba(215, 225, 242, 0.75); 
}

.micropost a {
  color: #333;
}

.micropost > p {
  font-size: inherit;
  line-height: inherit;
  text-align: left;
}

.post, .page, .post-groups, .video {   
  background-color: rgb(33,19,11); 
  padding: 20px;
  max-width: 780px;
  margin: 40px auto;
}

.post > p, .page > p, .video > p {
  font-size: inherit;
  line-height: inherit;
  color: rgb(211,162,8);
  text-align: left;
}

article.photo {
  height: 400px;
}

article.photo .title {
  background-color: rgba(215, 225, 242, 0.75); 
  font-weight: bold;
}

article.photo a {
  color: #666;
}

article.photo img {
  margin-top: -150px;
}

article.photo img[alt="Lovebirds"] {
  margin-top: -300px;
}
article.photo img[alt="Futuristic Billboard Wall"] {
  margin-top: -725px;
}
article.photo img[alt="Backlit Flower"] {
  margin-top: -325px;
}
article.photo img[alt="Old Woman"] {
  margin-top: -400px;
}
article.photo img[alt="@Kassiblog"] {
  margin-top: -450px;
}
article.photo img[alt="DowntownFever"] {
  margin-top: -100px;
}
article.photo img[alt="stnicholas"] {
  margin-top: -350px;
}
article.photo img[alt="onthebridge"] {
  margin-top: -90px;
}
article.photo img[alt="Oracle Headquarters"] {
  margin-top: -400px;
}

.post-group-item:hover {
  background-color: rgb(33,19,11); 
}

@media screen
and (max-width: 780px) {

  nav ul {
    margin: 10px 0 30px 0;
    padding: 0;
    list-style-type: none;
  }

  nav ul > li {
    background-color: rgb(0,0,0,0);
    display: inline;
    float: none;
    margin: 0;
    padding: 10px;
    border-bottom: none;
  }

  nav ul:first-child {
    border-top: none;
  }

  .post, .page, .post-groups {
    margin: 0;
  }
}
