{{ partial "photos_header.html" . }}

<script src="{{ .Site.BaseURL }}js/jquery-3.4.1.slim.min.js"></script>

<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<script src="{{ .Site.BaseURL }}js/lightgallery.js"></script>

<!-- lightgallery plugins -->
<script src="{{ .Site.BaseURL }}js/lg-zoom.min.js"></script>
<script src="{{ .Site.BaseURL }}js/lg-thumbnail.min.js"></script>
<script src="{{ .Site.BaseURL }}js/lg-fullscreen.min.js"></script>

<header class="photo">
{{ partial "page_header_min.html" . }}
</header>

  <main class="content photo">
    <article class="post">
      <h2><a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a></h2>

      <div class="postmeta">
        {{ with .Params.location }}Photos taken in {{ . }} on {{ end }}
        <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.camera }} with {{ . }}{{ end }}
      </div>

      <p>
        {{ .Content }}
      </p>
    </article>
  </main>

<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery({
        	showThumbByDefault: false
        }); 
    });
</script>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
