{{ partial "photos_header.html" . }}

<header class="photo">
{{ partial "page_header_min.html" . }}
</header>

  <main class="content photo">
    <article class="post">
      <h2><a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a></h2>

      <div class="postmeta">
        {{ with .Params.location }}Photos taken in {{ . }} on {{ end }}
        <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.camera }} with {{ . }}{{ end }}
      </div>

      <p>
        {{ .Content }}
      </p>
    </article>
  </main>

<script type="text/javascript">
	jQuery(document).ready(function(){ 
		$("#gallery").unitegallery({
			tiles_type:"nested",
			tiles_nested_optimal_tile_width: 350
		}); 
	}); 
</script>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
