<header>
  <nav>
    <!--<h1><a href="{{ .Site.Params.Author.socialurl }}">@{{ .Site.Params.Author.handle }}’s</a> <a href="/">{{ .Site.Title }}</a>.</h1>-->
    <div class="menu">
		{{ if isset .Site.Params "rsssections" }}
			{{ $.Scratch.Add "sections" .Site.Params.rsssections }}
			<ul>
				{{ range .Site.Menus.main }}
				<li>
					<a href="{{.URL}}">{{ .Name }}</a>
					{{ if in ($.Scratch.Get "sections") .Name }}
						<a href="{{.URL}}index.xml"><img src="/img/rss.svg" class="rss-icon" /></a>
					{{ end }}
				</li>
				{{ end }}
				{{ with .Site.Params.Author.aboutpage }}<li><a href="{{ . }}">About</a></li>{{ end }}
			</ul>
		{{ else }}
			<ul>
				{{ range .Site.Menus.main }}
				<li>
					<a href="{{.URL}}">{{ .Name }}</a>
				</li>
				{{ end }}
				{{ with .Site.Params.Author.aboutpage }}<li><a href="{{ . }}">About</a></li>{{ end }}
			</ul>
    {{ end }}
    </div>
    <div class="tb-banner-wrap">
      <a href="{{.Site.BaseURL}}">
        <img id="tb_banner" alt="Welcome to Tobyblog" width="780" height="395" fetchpriority="high" src="https://imagedelivery.net/zJmFZzaNuqC_Q5Caqyu8nQ/78a8420b-bb80-4891-97e4-e8c407bdc200/fit=scale-down,w=780,sharpen=1,f=auto,q=0.9,slow-connection-quality=0.3">
      </a>
      <a class="jukebox-link" href="{{ "jukebox/" | relURL }}" aria-label="Jukebox: Lost Halloween Music playlist" title="Jukebox">
        <img src="https://imagedelivery.net/zJmFZzaNuqC_Q5Caqyu8nQ/d1846e46-dbfd-4394-0e0e-2a2a7b8bd600/fit=scale-down,w=125,sharpen=1,f=auto,q=0.9,slow-connection-quality=0.3" alt="" />
      </a>
    </div>
  </nav>
</header>
