@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

/* search bar stuff */
:root {
  --pagefind-ui-text: #000000;
  --pagefind-ui-background: rgba(211,162,8,.75);
  --pagefind-ui-border: rgb(204,216,133);
  --pagefind-results-background: rgba(255,255,200,.75);
}
div#search {
  max-width: 780px;
  margin: auto;
}
.pagefind-ui__results-area.svelte-e9gkc3 {
  background-color: var(--pagefind-results-background);
  margin-top: 0;
}

body {
/*  font: 16px/22px "Lora", Palatino, Georgia, Garamond, "Big Caslon", "Times New Roman", serif;*/
/*  background-color: rgb(33,19,11); */
  font: 16px/24px Bitter, "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: black url("/img/field.jpg") no-repeat fixed top left; 
  background-size: cover; 
}

.post-group-item:hover {
  background-color: rgb(33,19,11); 
}

blockquote {
  background-color: rgb(37,31,35);
}

blockquote p {
  font-style: italic !important;
}

article.post, article.page, article.video, .post-groups {
  background-color: rgb(33,19,11); 
}

article.post p, article.page p, article.video p {
  color: rgb(211,162,8);
  margin: 20px 20px;
  padding-bottom: 1px;
}

article.post h1, article.post h2, article.post h3, article.post h4,
article.photo h1, article.photo h2, article.photo h3, article.photo h4,
article.video h1, article.video h2, article.video h3, article.video h4 {
  color: rgb(211,162,8);
  margin: 0 20px;
  padding: 10px 0;
}

/* Ensure H1 in posts has appropriate sizing */
article.post h1 {
  font-size: 1.5em;
}

article.post h1 a {
  text-decoration: none;
}

article.post h1 a:hover {
  text-decoration: underline;
}

article.post .postmeta, article.post .postmeta, article.post .postmeta, article.post .postmeta,
article.photo .postmeta, article.photo .postmeta, article.photo .postmeta, article.photo .postmeta,
article.video .postmeta, article.video .postmeta, article.video .postmeta, article.video .postmeta {
  color: rgb(211,162,8);
  margin: -0.75rem 20px 0 20px;
  padding: 0px 0;
}

a[href] {
	color: rgb(204,216,133);
}

img {
  height: auto;
}

p img {
  margin-left: -20px;
  max-width: 100vw;
}

figure {
	margin: 0 0;
}

.micropost {
  background-color: rgba(215, 225, 242, 0.75); 
}

.micropost a {
  color: #333;
}

.video {
  margin: 40px auto;
  max-width: 780px;
}
.video > p {
  color: var(--joshin-primary-color-500);
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  text-align: justify;
}


article.photo img {
  margin-top: -25%;
}
article.photo img[alt="A little dog having fun in the park"] {
  margin-top: -25%;
}
article.photo img[alt="ducks at Bolin Park"] {
  margin-top: -18%;
}
article.photo img[alt="climbing a hill at Devil's Den"] {
  margin-top: -25%;
}
article.photo img[alt="onthebridge"] {
  margin-top: -5%;
}
article.photo img[alt="Lovebirds"] {
  margin-top: -300px;
}
article.photo img[alt="Futuristic Billboard Wall"] {
  margin-top: -725px;
}
article.photo img[alt="Backlit Flower"] {
  margin-top: -325px;
}
article.photo img[alt="Old Woman"] {
  margin-top: -400px;
}
article.photo img[alt="@Kassiblog"] {
  margin-top: -450px;
}
article.photo img[alt="DowntownFever"] {
  margin-top: -100px;
}
article.photo img[alt="Oracle Headquarters"] {
  margin-top: -400px;
}

@media screen
and (max-width: 780px) {

  nav ul {
    margin: 10px 0 0px 0;
    padding: 0;
    list-style-type: none;
  }

  nav ul > li {
    background-color: rgb(0,0,0,0);
    display: inline;
    float: none;
    margin: 0;
    padding: 10px;
    border-bottom: none;
  }

  nav ul:first-child {
    border-top: none;
  }

  article {
    padding: 0;
  }
}