{{/* layouts/shortcodes/youtubePlaylist.html */}}
{{- $playlistId := .Get "id" | default (.Get 0) -}}
{{- $videoId := .Get "videoId" -}} {{/* Get optional specific video ID */}}
{{- $label := .Get "label" | default (printf "YouTube Playlist %s" $playlistId) -}}

{{ if $playlistId }} {{/* Playlist ID is always required */}}
  {{- $embedSrc := "" -}} {{/* Initialize embed source variable */}}

  {{- if $videoId -}}
    {{/* If a specific start video ID is given, use it with the playlist context */}}
    {{- $embedSrc = printf "https://www.youtube.com/embed/%s?list=%s" $videoId $playlistId -}}
  {{- else -}}
    {{/* Otherwise, use the default playlist starting point */}}
    {{- $embedSrc = printf "https://www.youtube.com/embed/videoseries?list=%s" $playlistId -}}
  {{- end -}}

  <div class="youtube-playlist-embed" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
    <iframe
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      src="{{ $embedSrc }}" {{/* Use the constructed source URL */}}
      title="{{ $label }}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
{{ else }}
  {{ errorf "youtubePlaylist shortcode requires at least an 'id' parameter (the YouTube Playlist ID)." }}
{{ end }}
