<header>
  <nav>
    <div class="banner">
      <a href="{{ .Site.BaseURL }}"><img src="/img/tobyblog_logo.png" alt="Welcome to my blog" height=270px></a>
    </div>
    <div class="site-info podcast-info">
    	<a href="https://soundcloud.com/toby-marks-1">Visit my Soundcloud</a> <img src="/img/soundcloud-512.png"> <a href="http://feeds.soundcloud.com/users/soundcloud:users:46374114/sounds.rss">Subscribe to the podcast</a>
    </div>
    <div class="menu">
		{{ if isset .Site.Params "rsssections" }}
			{{ $.Scratch.Add "sections" .Site.Params.rsssections }}
			<ul>
				{{ range .Site.Menus.main }}
				<li>
					<a href="{{.URL}}">{{ .Name }}</a>
					{{ if in ($.Scratch.Get "sections") .Name }}
<!--
						<a href="{{.URL}}index.xml"><img src="/img/rss.svg" class="rss-icon" /></a>
-->
					{{ end }}
				</li>
				{{ end }}
				{{ with .Site.Author.aboutpage }}<li><a href="{{ . }}">About</a></li>{{ end }}
			</ul>
		{{ else }}
			<ul>
				{{ range .Site.Menus.main }}
				<li>
					<a href="{{.URL}}">{{ .Name }}</a>
				</li>
				{{ end }}
				{{ with .Site.Author.aboutpage }}<li><a href="{{ . }}">About</a></li>{{ end }}
			</ul>
      	{{ end }}
    </div>
  </nav>
</header>
