<footer>
  <div class="footer_text">
      <div>
        <h3>Hi, <a href="{{ .Site.Author.aboutpage }}">I'm {{ .Site.Author.firstname }}…</a></h3>
        <p>
          {{ partial "bio.html" . }}
        </p>
      </div>
      {{ if isset .Site.Author "flickrid" | and ( not ( eq .Site.Author.flickrid "" ) ) }}
      <div>
          <h3><a href="https://www.flickr.com/photos/{{ .Site.Author.flickrid }}/">→ My Flickr ∞</a></h3>
          <div id="photos"></div>
      </div>
      {{ end }}
      <div>
      	<h3><a href="https://twitter.com/tobyblog">→ My Twitter ∞</a></h3>
        <a class="twitter-timeline" data-width="225" data-height="300" data-theme="dark" href="https://twitter.com/Tobyblog?ref_src=twsrc%5Etfw">Tweets by Tobyblog</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
  </div>

  {{ if .Site.Params.showcopyright }}
    <div class="footer_copyright">
      &copy; {{ now.Format "2006" }} <a href="{{ .Site.Author.aboutpage }}">{{ .Site.Author.firstname }} {{ .Site.Author.lastname }}</a>
      {{ with .Site.Author.location }} - Made in {{ . }}{{ end }}
    </div>
  {{ end }}
</footer>
