<main class="content">
  <article class="post-groups">
    <div class="post-group">
    {{ range .Pages.GroupByDate "2006" }}
      <div class="post-group-item">
        <h3>{{ .Key }}</h3>
        <ul>
          {{ range .Pages }}
            <li>
                <a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a>
                on <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2" }}</time>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    </div>
  </article>
</main>
